@import url('https://fonts.googleapis.com/css2?family=Finlandica:wght@500&display=swap');

*{
   
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

li, a, button{
    font-family: 'Finlandica', sans-serif;
    font-weight: 500; font-size: 1em;
    color: #FFFF;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
    background-color: #24252A;
}

h1{
color: #FFFF;
font-family: 'Finlandica', sans-serif;
text-shadow: 2px 1px 4px #0088a9;
}

.nav__link{
list-style: none;
}

.nav__link li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__link{
    transition: all 0.3s ease 0s;
}

.nav__link li a:hover{
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0,136,169,8);
}
/*--Container__Principal--*/
.titulo{
    padding: 20px 20%;
    justify-content: center;
    background: #0088a9;}