@import url('https://fonts.googleapis.com/css2?family=Finlandica:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
}

li, a, button{
    font-family: 'Finlandica', sans-serif;
    font-weight: 500; font-size: 1em;
    color: #FFFF;
    text-decoration: none;
    
}

h1{
    color: #FFFF;
    font-family: 'Finlandica', sans-serif;
    text-shadow: 2px 1px 4px #0088a9;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 08%;
    background-color: #24252A;
    
}

.nav__link{
    list-style: none;
    
}
        
.nav__link li{
    display: inline-block;
    padding: 0px 70px;
    margin-left: 50px;
    font-size: 18px;
}
        
.nav__link{
transition: all 0.3s ease 0s;      
}

.nav__link li a:hover{
    color: #0088a9;
}
button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}      

button:hover{
    background-color: rgba(0,136,169,8);
}
/* BOTONES */
.link{
    display: flex;
    margin: 30px;
    
}
.box_logo{
    background-color: #0088a9;
    display: inline-flex;
    border-radius: 30px;
    padding: 9px 150px;
    top: 0%;
     
}
.box_logo img{
    width: 60px ;
}
.boton_link{
    /* position: absolute; */
    display: inline-flex;
    list-style: none;
    font-size: 30px;
    top: 0%;
    padding: 15px;
    padding-bottom: 20px;
    
}
.content_redes{
    margin-top: 80px;
    margin-left: 43em ;
}
